<!DOCTYPE html>
<html lang="en" th:fragment="parent(content,title,script)" xmlns:th="http://www.thymeleaf.org " class="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Flow -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/output.css}" />
    <title th:replace="${title}"></title>
</head>

<body class="bg-gray-100 dark:bg-gray-900 dark:text-white text-black ">


    <!-- common header -->
    <div data-th-replace="navbar :: navbar"></div>

    <!-- Main content -->
    <div class="p-4">
        <section data-th-replace="${content}"></section>
    </div>

    <!-- common footer -->
    <!-- <footer class="p-4">This is a common footer</footer>  -->



    <!-- Flowbite javaScript -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>

    <!-- script.js file -->
    <script data-th-src="@{'/js/script.js'}"></script>

    <th:block data-th-replace="${script}"></th:block>
</body>

</html>