<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{base :: parent(~{:: #content}, ~{:: title}, ~{:: script})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/output.css}" />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />

    <title>home</title>
</head>

<body>
    <div class="container bg-slate-200" id="content">

        <h1> Home </h1>
        <h1 class="text-3xl font-bold" data-th-text="${name}"></h1>
        <h1 data-th-text="${Gmail}"></h1>
        <a href="http://www.google.com">click here to open</a><br>
        <a href="http://www.google.com">Click</a>
        <h1 th:text="${sername}"></h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis tempore similique optio alias, magni in.
            Maxime similique corporis neque doloremque sunt veniam voluptates esse nemo assumenda, dolorem excepturi
            praesentium eius!</p>


    </div>
    <!-- Flow bite contait -->


    <div class="flex justify-center items-center">
        <a href="#"
            class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology
                acquisitions 2021</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology
                acquisitions of 2021 so far, in reverse chronological order.</p>
        </a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>

</body>

</html>